# Expo
.expo/
.expo-shared/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Dependencies
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
Thumbs.db
ehthumbs.db
